@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Open+Sans:wght@300;400&family=Orbitron&family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Neonderthaw', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Orbitron', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{
  width: 100%;
}
/* Header section styling */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s ease;
  z-index: 100000;
}
header.sticky{
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}
header.sticky .logo{
  color: #2196f3;
}
header .logo span{
  color: #2196f3;
}
header.sticky .logo span{
  color: #111;
}
header.sticky ul li a{
  color: #111;
  transition: 0.1s ease;
}
header ul li a:hover{
  color: #2196f3;
}
header .logo{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}
header ul {
  display: flex;
  align-items: center;
}
header ul li{
  list-style: none;
  margin-left: 16px;
}
header ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

/* Home section styling */

.home{
  width: 100%;
  height: 100vh;
  background: url(images/banner.jpg);
  background-position: right;
  background-size: cover;
  color: white;
  padding: 0 100px;
}
.home .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.home .content h3{
  font-size: 3em;
  font-weight: 500;
  line-height: 1.5em;
}
.home .content h1{
  font-size: 6rem;
  font-weight: 700;
  margin-left: -10px;
}
.home .content h2{
  font-size: 20px;
  font-weight: 400;
}
.btn{
  text-transform: uppercase;
  padding: 10px 30px;
  background: #2196f3;
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
  position: relative;
}
section{
  padding: 100px;
}

/* About section styling */

.about{
  width: 100%;
  box-shadow: inset 0 10px 10px rgba(0,0,0,0.2);
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
}
.heading h1{
  font-size: 30px;
  font-weight: 900;
  color: #111;
}
.heading h1 span{
  color: #2196f3;
}

.about .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .row .box{
  padding-right: 30px;
}
.about .row .box p{
  text-align: justify;
}
.about .row .box h1{
  font-size: 1.7em;
  margin-bottom: 10px;
}
.about .row .col{
  min-width: 50%;
}
.about .row .col img{
  max-width: 100%;
}

/* Services section styling */
.services{
  width: 100%;
  background: #fff;
  color: #111;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2),
              inset 0 10px 10px rgba(0,0,0,0.2)
  ;
}
.services .heading h1 {
  font-size: 30px;
  font-weight: 900;
  color: #111;
}
.services .heading p{
  font-size: 16px;
  font-weight: 400;
  color: #111;
}
.services .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.services .container .card{
  position: relative;
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  transition: 0.5s;
  border-radius: 12px;
  z-index: 10;
  overflow: hidden;
}
.services .container .card::before{
  content: '';
  position: absolute;
  top: 0;
  right: -50%;
  height: 100%;
  width: 340px;
  background: rgba(255,255,255,0.2);
  opacity: 0.8;
  border-radius: 12px;
  z-index: 1;
  transform: skew(-40deg);
  transition: 0.5s ease;
}
.services .container .card .box{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: all 0.3s ease;
}
.services .container .card .box img{
  filter: invert(1);
  width: 130px;
  height: 130px;
}
.services .container .card .box h1{
  margin: 10px 0;
}
.services .container .card:hover{
  background: #2196f3;
}
.services .container .card:hover .box{
  transform: scale(1.05);
}

/* Work section styling  */
.work .container{
  position: relative;
  width: 100%;
}
.work .container .card{
  text-align: center;
}
.work .container .card h1{
  color: #fff;
  font-size: 2em;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%,-50%);
}
.work .button{
  text-align: center;
}
.owl-dots{
  margin-top: 18px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}
.owl-dot{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #2196f3 !important;
  margin-left: 10px;
  transition: 0.5s ease;

}
.owl-dot.active{
  background: #2196f3!important;
  width: 40px;
  border-radius: 8px;  
  transition: 0.5s ease;
}

/* Testimonial section styling */
.testimonial{
  box-shadow: 0 10px 10px rgba(0,0,0,0.2),
  inset 0 10px 10px rgba(0,0,0,0.2);
}  
.testimonial .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.testimonial .row .col{
  min-width: 50%;
  background: #2196f3;
  padding: 40px 30px;
  color: #fff;
}
.testimonial .row .col:nth-child(1){
  margin-right: 30px;
}
.testimonial .row .col p{
  font-size: 1.2em;
}
.testimonial .row .col .footer{
  float: right;
  margin-top: 10px;
  text-align: right;
}



@media screen and (max-width:420px)
{
  .work .container .card h1{
    color: #00f;
  }
}
